#####  This data has been processed to remove trips that are taken by staff as they service and inspect the system, trips that are taken to/from any of our “test” stations (which we were using more in June and July 2013), and any trips that were below 60 seconds in length (potentially false starts or users trying to re-dock a bike to ensure it's secure). 

#### For months with more than 1 million trips, trips data is split into multiple CSVs within the same compressed file. To determine a month’s total rides, sum the records across CSVs.

ride_id: A unique identifier assigned to each ride.

rideable_type: Specifies the type of bike used for the ride.

started_at: The date and time when the ride began.

ended_at: The date and time when the ride concluded.

start_station_name: The name of the station where the ride started.

start_station_id: A unique identifier for the start station.

end_station_name: The name of the station where the ride ended.

end_station_id: A unique identifier for the end station.

start_lat: The latitude coordinate of the start station.

start_lng: The longitude coordinate of the start station.

end_lat: The latitude coordinate of the end station.

end_lng: The longitude coordinate of the end station.

member_casual: Indicates the rider's membership status, distinguishing between annual members and casual riders.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import pprint

In [2]:

#read the data into a Pandas DataFrame
june_2019_df = pd.read_csv("original_citi_bike_files/JC-201906-citibike-tripdata.csv")
december_2019_df = pd.read_csv("original_citi_bike_files/JC-201912-citibike-tripdata.csv")
june_2020_df = pd.read_csv("original_citi_bike_files/JC-202006-citibike-tripdata.csv")
december_2020_df = pd.read_csv("original_citi_bike_files/JC-202012-citibike-tripdata.csv")
june_2021_df = pd.read_csv("original_citi_bike_files/JC-202106-citibike-tripdata.csv")
december_2021_df = pd.read_csv("original_citi_bike_files/JC-202112-citibike-tripdata.csv")
june_2022_df = pd.read_csv("original_citi_bike_files/JC-202206-citibike-tripdata.csv")
december_2022_df = pd.read_csv("original_citi_bike_files/JC-202212-citibike-tripdata.csv")
june_2023_df = pd.read_csv("original_citi_bike_files/JC-202306-citibike-tripdata.csv")
december_2023_df = pd.read_csv("original_citi_bike_files/JC-202312-citibike-tripdata.csv")
june_2024_df = pd.read_csv("original_citi_bike_files/JC-202406-citibike-tripdata.csv")
december_2024_df = pd.read_csv("original_citi_bike_files/JC-202412-citibike-tripdata.csv")

#rename columns
june_2019_df = june_2019_df.rename(columns={
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_lat",
    "start station longitude": "start_lng",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_lat",
    "end station longitude": "end_lng",
    "usertype": "member_casual",
})


june_2019_df

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,member_casual,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,City Hall,40.717732,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [3]:
#rename columns
december_2019_df = december_2019_df.rename(columns={
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_lat",
    "start station longitude": "start_lng",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_lat",
    "end station longitude": "end_lng",
    "usertype": "member_casual",
})

#display/review df
december_2019_df

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,member_casual,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1
19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1
19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1
19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1
19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1

In [4]:
#rename columns
june_2020_df = june_2020_df.rename(columns={
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_lat",
    "start station longitude": "start_lng",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_lat",
    "end station longitude": "end_lng",
    "usertype": "member_casual",
})

#display/review df
june_2020_df

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,member_casual,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36916,2828,2020-06-30 23:53:19.7380,2020-07-01 00:40:28.5760,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,0
36917,2729,2020-06-30 23:54:44.0100,2020-07-01 00:40:13.6470,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,0
36918,2788,2020-06-30 23:54:52.1920,2020-07-01 00:41:20.6500,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,0
36919,2702,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,0
36920,2649,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,2

In [5]:
#rename columns
december_2020_df = december_2020_df.rename(columns={
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_lat",
    "start station longitude": "start_lng",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_lat",
    "end station longitude": "end_lng",
    "usertype": "member_casual",
})

#display/review df
december_2020_df

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,member_casual,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [6]:
#display/review df
june_2021_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7830EBE775F2EE25,classic_bike,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,NaN,NaN,member
1,629A3BFD50BF8392,docked_bike,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,40.733670,-74.062500,member
2,CF02EC434989A99D,docked_bike,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,40.735938,-74.030305,member
3,E1BB8FED29AA5BA1,docked_bike,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,40.735938,-74.030305,casual
4,787C59EE76D96BCA,docked_bike,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,40.748161,-74.032453,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71437,837E135024442757,docked_bike,2021-06-06 22:07:08,2021-06-06 22:13:46,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member
71438,14F127B834A8ED72,docked_bike,2021-06-20 20:53:48,2021-06-20 21:00:44,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member
71439,A9FE39A9E76C2192,docked_bike,2021-06-01 21:27:29,2021-06-01 21:36:04,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member
71440,E0FCE3CE0160B4E0,docked_bike,2021-06-11 15:22:44,2021-06-11 15:30:18,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member
71441,B342E07B460305A1,docked_bike,2021-06-06 23:22:42,2021-06-06 23:28:04,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member

In [7]:
#display/review df
december_2021_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,87F1811D08BA7BF3,classic_bike,2021-12-12 09:16:59,2021-12-12 09:23:08,Hamilton Park,JC009,Grove St PATH,JC005,40.727596,-74.044247,40.719586,-74.043117,member
1,48390A4B390ABD36,electric_bike,2021-12-07 20:06:14,2021-12-07 20:14:14,Hamilton Park,JC009,Hilltop,JC019,40.727596,-74.044247,40.731169,-74.057574,casual
2,93AE14B47CBB30F8,classic_bike,2021-12-31 16:07:10,2021-12-31 16:14:39,Brunswick St,JC023,Brunswick St,JC023,40.724176,-74.050656,40.724176,-74.050656,casual
3,5D0BDBFB30D7C9F6,electric_bike,2021-12-11 03:25:41,2021-12-11 03:31:16,Brunswick St,JC023,Baldwin at Montgomery,JC020,40.724176,-74.050656,40.723659,-74.064194,member
4,D6382ADAF1672DD8,classic_bike,2021-12-17 10:59:28,2021-12-17 11:12:41,Brunswick St,JC023,Paulus Hook,JC002,40.724176,-74.050656,40.714145,-74.033552,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48016,13FE513C650901A3,classic_bike,2021-12-16 17:17:46,2021-12-16 17:22:53,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
48017,CA29051F38E67D30,classic_bike,2021-12-07 17:10:29,2021-12-07 17:15:02,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
48018,A719DEA143005404,classic_bike,2021-12-18 09:50:14,2021-12-18 09:55:55,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
48019,D39126975208B59D,classic_bike,2021-12-10 21:43:32,2021-12-10 21:49:04,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
48020,1BB5CF43B5DF7E05,classic_bike,2021-12-08 11:09:56,2021-12-08 11:14:58,Hilltop,JC019,Hamilton Park,JC009,40.731169,-74.057574,40.727596,-74.044247,member

In [8]:
#display/review df
june_2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EEA3CD3B084370F4,classic_bike,2022-06-30 19:17:16,2022-06-30 19:27:13,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
1,BF568C9B3C5FAE94,classic_bike,2022-06-02 12:46:44,2022-06-02 15:08:33,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
2,DF6B06D460481A7E,classic_bike,2022-06-05 14:17:34,2022-06-05 14:27:12,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
3,A26CDB92CDF7E0EE,electric_bike,2022-06-01 18:57:12,2022-06-01 19:05:58,Clinton St & Newark St,HB409,Pershing Field,JC024,40.737430,-74.035710,40.742677,-74.051789,member
4,A2A50E81031E9E7F,electric_bike,2022-06-14 22:45:53,2022-06-14 22:49:39,Oakland Ave,JC022,Pershing Field,JC024,40.737604,-74.052478,40.742677,-74.051789,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103294,25AD34565A260732,classic_bike,2022-06-17 16:03:36,2022-06-17 16:33:48,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,casual
103295,8A4181FCE9439036,classic_bike,2022-06-25 14:14:26,2022-06-25 14:19:40,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member
103296,28C8501BCB596743,electric_bike,2022-06-04 08:57:04,2022-06-04 09:15:33,Jersey & 6th St,JC027,11 St & Washington St,HB502,40.725289,-74.045572,40.749985,-74.027150,casual
103297,D28575BBFF3A0B57,classic_bike,2022-06-17 06:11:05,2022-06-17 06:21:37,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member
103298,A914FEF9390C201C,electric_bike,2022-06-02 18:15:17,2022-06-02 18:20:22,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member

In [9]:
#display/review df
december_2022_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,099D81CA71EBADAB,classic_bike,2022-12-23 16:02:26,2022-12-23 16:09:40,Mama Johnson Field - 4 St & Jackson St,HB404,Adams St & 11 St,HB507,40.743140,-74.040041,40.750916,-74.033541,member
1,D979F3B79FC30F1F,electric_bike,2022-12-27 10:54:29,2022-12-27 10:59:23,Jersey & 3rd,JC074,Marin Light Rail,JC013,40.723332,-74.045953,40.714584,-74.042817,member
2,3950909BC3B42E43,classic_bike,2022-12-31 10:39:39,2022-12-31 11:00:52,Morris Canal,JC072,LaGuardia Pl & W 3 St,5721.14,40.712252,-74.038188,40.729170,-73.998102,member
3,372E50F5FB4FD434,classic_bike,2022-12-05 08:16:10,2022-12-05 08:20:09,Morris Canal,JC072,Columbus Drive,JC014,40.712419,-74.038526,40.718355,-74.038914,member
4,AB701FB8091C7431,classic_bike,2022-12-02 13:40:36,2022-12-02 13:46:11,Harborside,JC104,Grove St PATH,JC005,40.719252,-74.034234,40.719586,-74.043117,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48580,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member
48581,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual
48582,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member
48583,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member
48584,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member

In [10]:
#display/review df
june_2023_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97018,2C69F8EF2A1BDD90,classic_bike,2023-06-30 19:41:00,2023-06-30 23:07:31,Washington St,JC098,Newport Pkwy,JC008,40.724294,-74.035483,40.728745,-74.032108,casual
97019,43E592256BC287BB,classic_bike,2023-06-20 18:55:02,2023-06-20 19:01:47,Washington St,JC098,Southwest Park - Jackson St & Observer Hwy,HB401,40.724273,-74.035498,40.737551,-74.041664,member
97020,4C3A7521689C560C,electric_bike,2023-06-22 19:24:22,2023-06-22 19:30:03,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.747907,-74.038412,40.751867,-74.030377,casual
97021,9AAA8F2E630456E7,classic_bike,2023-06-30 13:34:09,2023-06-30 13:38:34,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.747971,-74.038413,40.751867,-74.030377,casual
97022,064CE90800E9C21F,classic_bike,2023-06-13 17:23:31,2023-06-13 17:28:01,9 St HBLR - Jackson St & 8 St,HB305,Willow Ave & 12 St,HB505,40.748000,-74.038375,40.751867,-74.030377,casual

In [11]:
#display/review df
december_2023_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58675,7E862701EE7A6A03,classic_bike,2023-12-20 17:55:41,2023-12-20 18:00:10,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748720,-74.040487,40.754530,-74.026580,casual
58676,DFAF91AB91BE25DB,classic_bike,2023-12-13 14:36:43,2023-12-13 14:42:31,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748767,-74.040470,40.754530,-74.026580,member
58677,AEE7B49E6EDFAE6F,classic_bike,2023-12-18 16:40:00,2023-12-18 16:45:45,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744291,-74.034404,40.754530,-74.026580,member
58678,A38E98956AD72EFB,classic_bike,2023-12-02 13:42:51,2023-12-02 13:50:42,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744398,-74.034501,40.754530,-74.026580,member
58679,F16E0B969D877368,classic_bike,2023-12-19 16:30:13,2023-12-19 16:36:54,6 St & Grand St,HB302,Clinton St & 7 St,HB303,40.744398,-74.034501,40.745420,-74.033320,member

In [12]:
#display/review df
june_2024_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A17A516F45135535,classic_bike,2024-06-01 21:57:43.956,2024-06-01 22:02:11.705,4 St & Grand St,HB301,Columbus Park - Clinton St & 9 St,HB501,40.742258,-74.035111,40.748161,-74.032453,casual
1,93A3EB3388E2B8CB,classic_bike,2024-06-01 09:13:28.985,2024-06-01 09:16:14.918,Hoboken Ave at Monmouth St,JC105,Southwest Park - Jackson St & Observer Hwy,HB401,40.735208,-74.046964,40.737551,-74.041664,member
2,9F59020413047210,electric_bike,2024-06-14 14:50:09.636,2024-06-14 14:53:35.936,Hoboken Ave at Monmouth St,JC105,Southwest Park - Jackson St & Observer Hwy,HB401,40.735251,-74.046950,40.737551,-74.041664,casual
3,922CEA9885B1D83D,electric_bike,2024-06-25 19:09:47.671,2024-06-25 19:16:35.683,Hoboken Ave at Monmouth St,JC105,Columbus Park - Clinton St & 9 St,HB501,40.735274,-74.046932,40.748161,-74.032453,member
4,66D057A4C37F2018,electric_bike,2024-06-24 12:42:15.397,2024-06-24 12:49:56.861,Hilltop,JC019,Southwest Park - Jackson St & Observer Hwy,HB401,40.731163,-74.057490,40.737551,-74.041664,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111110,41A35EB4A5B8F034,classic_bike,2024-06-09 20:07:25.139,2024-06-09 21:18:38.241,Jersey & 6th St,JC027,Van Vorst Park,JC035,40.725289,-74.045572,40.718489,-74.047727,casual
111111,F02809743866AE12,classic_bike,2024-06-26 08:40:21.781,2024-06-26 08:44:44.934,Jersey & 6th St,JC027,Van Vorst Park,JC035,40.725289,-74.045572,40.718489,-74.047727,member
111112,7F59B624FA1133CA,classic_bike,2024-06-01 15:41:01.117,2024-06-01 15:47:07.800,Jersey & 6th St,JC027,Van Vorst Park,JC035,40.725289,-74.045572,40.718489,-74.047727,member
111113,685E1EB1207602CF,classic_bike,2024-06-02 18:50:30.609,2024-06-02 18:53:00.367,Clinton St & 7 St,HB303,Madison St & 10 St,HB503,40.745420,-74.033320,40.749943,-74.035865,member
111114,69ADE0541A509901,classic_bike,2024-06-13 15:38:43.094,2024-06-13 15:48:04.368,Jersey & 6th St,JC027,Van Vorst Park,JC035,40.725289,-74.045572,40.718489,-74.047727,member

In [13]:
#display/review df
december_2024_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,28A17ACD224CD80B,electric_bike,2024-12-06 17:50:49.428,2024-12-06 17:54:20.070,Oakland Ave,JC022,Hilltop,JC019,40.737604,-74.052478,40.731169,-74.057574,member
1,3508393A86FBD357,classic_bike,2024-12-14 11:01:00.309,2024-12-14 11:12:01.382,Oakland Ave,JC022,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.737604,-74.052478,40.735938,-74.030305,member
2,75FA4C03A1447401,electric_bike,2024-12-24 08:07:17.475,2024-12-24 08:14:14.612,Oakland Ave,JC022,Leonard Gordon Park,JC080,40.737604,-74.052478,40.745910,-74.057271,member
3,C7741EF495C597DD,classic_bike,2024-12-19 12:48:05.452,2024-12-19 12:54:15.253,Oakland Ave,JC022,Leonard Gordon Park,JC080,40.737604,-74.052478,40.745910,-74.057271,member
4,07952BB20B46C5B1,electric_bike,2024-12-17 11:19:37.631,2024-12-17 11:28:25.150,Oakland Ave,JC022,Grove St PATH,JC115,40.737604,-74.052478,40.719410,-74.043090,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54828,7E81F3435D05D1F4,electric_bike,2024-12-28 09:45:30.704,2024-12-28 09:48:02.706,Marin Light Rail,JC013,Exchange Pl,JC116,40.714584,-74.042817,40.716366,-74.034344,member
54829,70499242367CEA82,classic_bike,2024-12-12 16:21:50.427,2024-12-12 16:26:34.069,Marin Light Rail,JC013,Manila & 1st,JC082,40.714584,-74.042817,40.721651,-74.042884,member
54830,146BB7BEE3C31DAC,classic_bike,2024-12-11 19:23:24.109,2024-12-11 19:25:07.612,Grove St PATH,JC115,Manila & 1st,JC082,40.719410,-74.043090,40.721651,-74.042884,member
54831,ADA14EC995D83769,classic_bike,2024-12-12 20:48:40.471,2024-12-12 20:52:41.722,Grove St PATH,JC115,Exchange Pl,JC116,40.719410,-74.043090,40.716366,-74.034344,member
54832,214E88D0B0FCBA75,classic_bike,2024-12-04 18:14:12.686,2024-12-04 18:19:02.621,Marin Light Rail,JC013,Manila & 1st,JC082,40.714584,-74.042817,40.721651,-74.042884,member

In [14]:
#convert columns to date time format
june_2021_df["started_at"] = pd.to_datetime(june_2021_df["started_at"], errors="coerce")
june_2021_df["ended_at"] = pd.to_datetime(june_2021_df["ended_at"], errors="coerce")

june_2022_df["started_at"] = pd.to_datetime(june_2022_df["started_at"], errors="coerce")
june_2022_df["ended_at"] = pd.to_datetime(june_2022_df["ended_at"], errors="coerce")

june_2023_df["started_at"] = pd.to_datetime(june_2023_df["started_at"], errors="coerce")
june_2023_df["ended_at"] = pd.to_datetime(june_2023_df["ended_at"], errors="coerce")

june_2021_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7830EBE775F2EE25,classic_bike,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,NaN,NaN,member
1,629A3BFD50BF8392,docked_bike,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,40.733670,-74.062500,member
2,CF02EC434989A99D,docked_bike,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,40.735938,-74.030305,member
3,E1BB8FED29AA5BA1,docked_bike,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,40.735938,-74.030305,casual
4,787C59EE76D96BCA,docked_bike,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,40.748161,-74.032453,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71437,837E135024442757,docked_bike,2021-06-06 22:07:08,2021-06-06 22:13:46,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member
71438,14F127B834A8ED72,docked_bike,2021-06-20 20:53:48,2021-06-20 21:00:44,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member
71439,A9FE39A9E76C2192,docked_bike,2021-06-01 21:27:29,2021-06-01 21:36:04,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member
71440,E0FCE3CE0160B4E0,docked_bike,2021-06-11 15:22:44,2021-06-11 15:30:18,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member
71441,B342E07B460305A1,docked_bike,2021-06-06 23:22:42,2021-06-06 23:28:04,Morris Canal,JC072,Warren St,JC006,40.712418,-74.038525,40.721124,-74.038051,member

In [15]:
#convert columns to date time format
december_2021_df["started_at"] = pd.to_datetime(december_2021_df["started_at"], errors="coerce")
december_2021_df["ended_at"] = pd.to_datetime(december_2021_df["ended_at"], errors="coerce")

december_2022_df["started_at"] = pd.to_datetime(december_2022_df["started_at"], errors="coerce")
december_2022_df["ended_at"] = pd.to_datetime(december_2022_df["ended_at"], errors="coerce")

december_2023_df["started_at"] = pd.to_datetime(december_2023_df["started_at"], errors="coerce")
december_2023_df["ended_at"] = pd.to_datetime(december_2023_df["ended_at"], errors="coerce")

december_2021_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,87F1811D08BA7BF3,classic_bike,2021-12-12 09:16:59,2021-12-12 09:23:08,Hamilton Park,JC009,Grove St PATH,JC005,40.727596,-74.044247,40.719586,-74.043117,member
1,48390A4B390ABD36,electric_bike,2021-12-07 20:06:14,2021-12-07 20:14:14,Hamilton Park,JC009,Hilltop,JC019,40.727596,-74.044247,40.731169,-74.057574,casual
2,93AE14B47CBB30F8,classic_bike,2021-12-31 16:07:10,2021-12-31 16:14:39,Brunswick St,JC023,Brunswick St,JC023,40.724176,-74.050656,40.724176,-74.050656,casual
3,5D0BDBFB30D7C9F6,electric_bike,2021-12-11 03:25:41,2021-12-11 03:31:16,Brunswick St,JC023,Baldwin at Montgomery,JC020,40.724176,-74.050656,40.723659,-74.064194,member
4,D6382ADAF1672DD8,classic_bike,2021-12-17 10:59:28,2021-12-17 11:12:41,Brunswick St,JC023,Paulus Hook,JC002,40.724176,-74.050656,40.714145,-74.033552,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48016,13FE513C650901A3,classic_bike,2021-12-16 17:17:46,2021-12-16 17:22:53,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
48017,CA29051F38E67D30,classic_bike,2021-12-07 17:10:29,2021-12-07 17:15:02,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
48018,A719DEA143005404,classic_bike,2021-12-18 09:50:14,2021-12-18 09:55:55,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
48019,D39126975208B59D,classic_bike,2021-12-10 21:43:32,2021-12-10 21:49:04,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
48020,1BB5CF43B5DF7E05,classic_bike,2021-12-08 11:09:56,2021-12-08 11:14:58,Hilltop,JC019,Hamilton Park,JC009,40.731169,-74.057574,40.727596,-74.044247,member

In [16]:
#convert columns to date time format
june_2019_df["starttime"] = pd.to_datetime(june_2019_df["starttime"], errors="coerce")
june_2019_df["stoptime"] = pd.to_datetime(june_2019_df["stoptime"], errors="coerce")

december_2019_df["starttime"] = pd.to_datetime(december_2019_df["starttime"], errors="coerce")
december_2019_df["stoptime"] = pd.to_datetime(december_2019_df["stoptime"], errors="coerce")

june_2020_df["starttime"] = pd.to_datetime(june_2020_df["starttime"], errors="coerce")
june_2020_df["stoptime"] = pd.to_datetime(june_2020_df["stoptime"], errors="coerce")

december_2020_df["starttime"] = pd.to_datetime(december_2020_df["starttime"], errors="coerce")
december_2020_df["stoptime"] = pd.to_datetime(december_2020_df["stoptime"], errors="coerce")

june_2024_df["started_at"] = pd.to_datetime(june_2024_df["started_at"], errors="coerce")
june_2024_df["ended_at"] = pd.to_datetime(june_2024_df["ended_at"], errors="coerce")



#align date/time formatting w/ other df's -- remove miliseconds
june_2019_df["starttime"] = june_2019_df["starttime"].dt.floor("s")
june_2019_df["stoptime"] = june_2019_df["stoptime"].dt.floor("s")

december_2019_df["starttime"] = december_2019_df["starttime"].dt.floor("s")
december_2019_df["stoptime"] = december_2019_df["stoptime"].dt.floor("s")

june_2020_df["starttime"] = june_2020_df["starttime"].dt.floor("s")
june_2020_df["stoptime"] = june_2020_df["stoptime"].dt.floor("s")

december_2020_df["starttime"] = december_2020_df["starttime"].dt.floor("s")
december_2020_df["stoptime"] = december_2020_df["stoptime"].dt.floor("s")

june_2024_df["started_at"] = june_2024_df["started_at"].dt.floor("s")
june_2024_df["ended_at"] = june_2024_df["ended_at"].dt.floor("s")

#rename columns
june_2019_df = june_2019_df.rename(columns={
    "starttime": "started_at",
    "stoptime": "ended_at"
})

december_2019_df = december_2019_df.rename(columns={
    "starttime": "started_at",
    "stoptime": "ended_at"
})

june_2020_df = june_2020_df.rename(columns={
    "starttime": "started_at",
    "stoptime": "ended_at"
})

december_2020_df = december_2020_df.rename(columns={
    "starttime": "started_at",
    "stoptime": "ended_at"
})

june_2019_df

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,member_casual,birth year,gender
0,316,2019-06-01 00:05:55,2019-06-01 00:11:11,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09,2019-06-01 00:12:50,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11,2019-06-01 00:49:14,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30,2019-06-01 00:49:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31,2019-06-01 00:15:51,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,639,2019-06-30 23:38:29,2019-06-30 23:49:09,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,643,2019-06-30 23:38:34,2019-06-30 23:49:17,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,418,2019-06-30 23:42:30,2019-06-30 23:49:29,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,2529,2019-06-30 23:46:17,2019-07-01 00:28:27,3185,City Hall,40.717732,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,831,2019-06-30 23:49:01,2019-07-01 00:02:53,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [17]:
#convert columns to date time format
december_2024_df["started_at"] = pd.to_datetime(december_2024_df["started_at"], errors="coerce")
december_2024_df["ended_at"] = pd.to_datetime(december_2024_df["ended_at"], errors="coerce")

#align date/time formatting w/ other df's -- remove miliseconds
december_2024_df["started_at"] = december_2024_df["started_at"].dt.floor("s")
december_2024_df["ended_at"] = december_2024_df["ended_at"].dt.floor("s")

december_2024_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,28A17ACD224CD80B,electric_bike,2024-12-06 17:50:49,2024-12-06 17:54:20,Oakland Ave,JC022,Hilltop,JC019,40.737604,-74.052478,40.731169,-74.057574,member
1,3508393A86FBD357,classic_bike,2024-12-14 11:01:00,2024-12-14 11:12:01,Oakland Ave,JC022,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.737604,-74.052478,40.735938,-74.030305,member
2,75FA4C03A1447401,electric_bike,2024-12-24 08:07:17,2024-12-24 08:14:14,Oakland Ave,JC022,Leonard Gordon Park,JC080,40.737604,-74.052478,40.745910,-74.057271,member
3,C7741EF495C597DD,classic_bike,2024-12-19 12:48:05,2024-12-19 12:54:15,Oakland Ave,JC022,Leonard Gordon Park,JC080,40.737604,-74.052478,40.745910,-74.057271,member
4,07952BB20B46C5B1,electric_bike,2024-12-17 11:19:37,2024-12-17 11:28:25,Oakland Ave,JC022,Grove St PATH,JC115,40.737604,-74.052478,40.719410,-74.043090,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54828,7E81F3435D05D1F4,electric_bike,2024-12-28 09:45:30,2024-12-28 09:48:02,Marin Light Rail,JC013,Exchange Pl,JC116,40.714584,-74.042817,40.716366,-74.034344,member
54829,70499242367CEA82,classic_bike,2024-12-12 16:21:50,2024-12-12 16:26:34,Marin Light Rail,JC013,Manila & 1st,JC082,40.714584,-74.042817,40.721651,-74.042884,member
54830,146BB7BEE3C31DAC,classic_bike,2024-12-11 19:23:24,2024-12-11 19:25:07,Grove St PATH,JC115,Manila & 1st,JC082,40.719410,-74.043090,40.721651,-74.042884,member
54831,ADA14EC995D83769,classic_bike,2024-12-12 20:48:40,2024-12-12 20:52:41,Grove St PATH,JC115,Exchange Pl,JC116,40.719410,-74.043090,40.716366,-74.034344,member
54832,214E88D0B0FCBA75,classic_bike,2024-12-04 18:14:12,2024-12-04 18:19:02,Marin Light Rail,JC013,Manila & 1st,JC082,40.714584,-74.042817,40.721651,-74.042884,member

In [18]:
#get info about total rows and columns
num_rows, num_columns = june_2023_df.shape

print(f"Total number of rows is: {num_rows}")
print(f"Total number of columns is: {num_columns}")

Total number of rows is: 97023
Total number of columns is: 13

In [19]:
#summary of df
june_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39430 entries, 0 to 39429
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tripduration        39430 non-null  int64
 1   started_at          39430 non-null  datetime64[ns]
 2   ended_at            39430 non-null  datetime64[ns]
 3   start_station_id    39430 non-null  int64
 4   start_station_name  39430 non-null  object
 5   start_lat           39430 non-null  float64
 6   start_lng           39430 non-null  float64
 7   end_station_id      39430 non-null  int64
 8   end_station_name    39430 non-null  object
 9   end_lat             39430 non-null  float64
 10  end_lng             39430 non-null  float64
 11  bikeid              39430 non-null  int64
 12  member_casual       39430 non-null  object
 13  birth year          39430 non-null  int64
 14  gender              39430 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 4.5+ MB

In [20]:
#summary of df
december_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19728 entries, 0 to 19727
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tripduration        19728 non-null  int64
 1   started_at          19728 non-null  datetime64[ns]
 2   ended_at            19728 non-null  datetime64[ns]
 3   start_station_id    19728 non-null  int64
 4   start_station_name  19728 non-null  object
 5   start_lat           19728 non-null  float64
 6   start_lng           19728 non-null  float64
 7   end_station_id      19728 non-null  int64
 8   end_station_name    19728 non-null  object
 9   end_lat             19728 non-null  float64
 10  end_lng             19728 non-null  float64
 11  bikeid              19728 non-null  int64
 12  member_casual       19728 non-null  object
 13  birth year          19728 non-null  int64
 14  gender              19728 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 2.3+ MB

In [21]:
#summary of df
june_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36921 entries, 0 to 36920
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tripduration        36921 non-null  int64
 1   started_at          36921 non-null  datetime64[ns]
 2   ended_at            36921 non-null  datetime64[ns]
 3   start_station_id    36921 non-null  int64
 4   start_station_name  36921 non-null  object
 5   start_lat           36921 non-null  float64
 6   start_lng           36921 non-null  float64
 7   end_station_id      36921 non-null  int64
 8   end_station_name    36921 non-null  object
 9   end_lat             36921 non-null  float64
 10  end_lng             36921 non-null  float64
 11  bikeid              36921 non-null  int64
 12  member_casual       36921 non-null  object
 13  birth year          36921 non-null  int64
 14  gender              36921 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 4.2+ MB

In [22]:
#summary of df
december_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11694 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tripduration        11694 non-null  int64
 1   started_at          11694 non-null  datetime64[ns]
 2   ended_at            11694 non-null  datetime64[ns]
 3   start_station_id    11694 non-null  int64
 4   start_station_name  11694 non-null  object
 5   start_lat           11694 non-null  float64
 6   start_lng           11694 non-null  float64
 7   end_station_id      11694 non-null  int64
 8   end_station_name    11694 non-null  object
 9   end_lat             11694 non-null  float64
 10  end_lng             11694 non-null  float64
 11  bikeid              11694 non-null  int64
 12  member_casual       11694 non-null  object
 13  birth year          11694 non-null  int64
 14  gender              11694 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 1.3+ MB

In [23]:
#summary of df
june_2021_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71442 entries, 0 to 71441
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             71442 non-null  object
 1   rideable_type       71442 non-null  object
 2   started_at          71442 non-null  datetime64[ns]
 3   ended_at            71442 non-null  datetime64[ns]
 4   start_station_name  71442 non-null  object
 5   start_station_id    71442 non-null  object
 6   end_station_name    71208 non-null  object
 7   end_station_id      71208 non-null  object
 8   start_lat           71442 non-null  float64
 9   start_lng           71442 non-null  float64
 10  end_lat             71261 non-null  float64
 11  end_lng             71261 non-null  float64
 12  member_casual       71442 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 7.1+ MB

In [24]:
#summary of df
december_2021_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48021 entries, 0 to 48020
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             48021 non-null  object
 1   rideable_type       48021 non-null  object
 2   started_at          48021 non-null  datetime64[ns]
 3   ended_at            48021 non-null  datetime64[ns]
 4   start_station_name  48021 non-null  object
 5   start_station_id    48021 non-null  object
 6   end_station_name    47662 non-null  object
 7   end_station_id      47662 non-null  object
 8   start_lat           48021 non-null  float64
 9   start_lng           48021 non-null  float64
 10  end_lat             47875 non-null  float64
 11  end_lng             47875 non-null  float64
 12  member_casual       48021 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 4.8+ MB

In [25]:
#summary of df
june_2022_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103299 entries, 0 to 103298
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             103299 non-null  object
 1   rideable_type       103299 non-null  object
 2   started_at          103299 non-null  datetime64[ns]
 3   ended_at            103299 non-null  datetime64[ns]
 4   start_station_name  103299 non-null  object
 5   start_station_id    103299 non-null  object
 6   end_station_name    102985 non-null  object
 7   end_station_id      102985 non-null  object
 8   start_lat           103299 non-null  float64
 9   start_lng           103299 non-null  float64
 10  end_lat             103004 non-null  float64
 11  end_lng             103004 non-null  float64
 12  member_casual       103299 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 10.2+ MB

In [26]:
#summary of df
december_2022_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48585 entries, 0 to 48584
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             48585 non-null  object
 1   rideable_type       48585 non-null  object
 2   started_at          48585 non-null  datetime64[ns]
 3   ended_at            48585 non-null  datetime64[ns]
 4   start_station_name  48585 non-null  object
 5   start_station_id    48585 non-null  object
 6   end_station_name    48377 non-null  object
 7   end_station_id      48377 non-null  object
 8   start_lat           48585 non-null  float64
 9   start_lng           48585 non-null  float64
 10  end_lat             48502 non-null  float64
 11  end_lng             48502 non-null  float64
 12  member_casual       48585 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 4.8+ MB

In [27]:
#summary of df
june_2023_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97023 entries, 0 to 97022
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97023 non-null  object
 1   rideable_type       97023 non-null  object
 2   started_at          97023 non-null  datetime64[ns]
 3   ended_at            97023 non-null  datetime64[ns]
 4   start_station_name  96968 non-null  object
 5   start_station_id    96968 non-null  object
 6   end_station_name    96662 non-null  object
 7   end_station_id      96662 non-null  object
 8   start_lat           97023 non-null  float64
 9   start_lng           97023 non-null  float64
 10  end_lat             96935 non-null  float64
 11  end_lng             96935 non-null  float64
 12  member_casual       97023 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 9.6+ MB

In [28]:
#summary of df
december_2023_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58680 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58680 non-null  object
 1   rideable_type       58680 non-null  object
 2   started_at          58680 non-null  datetime64[ns]
 3   ended_at            58680 non-null  datetime64[ns]
 4   start_station_name  58676 non-null  object
 5   start_station_id    58676 non-null  object
 6   end_station_name    58441 non-null  object
 7   end_station_id      58441 non-null  object
 8   start_lat           58680 non-null  float64
 9   start_lng           58680 non-null  float64
 10  end_lat             58638 non-null  float64
 11  end_lng             58638 non-null  float64
 12  member_casual       58680 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 5.8+ MB

In [29]:
#summary of df
june_2024_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111115 entries, 0 to 111114
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             111115 non-null  object
 1   rideable_type       111115 non-null  object
 2   started_at          111115 non-null  datetime64[ns]
 3   ended_at            111115 non-null  datetime64[ns]
 4   start_station_name  111114 non-null  object
 5   start_station_id    111114 non-null  object
 6   end_station_name    110695 non-null  object
 7   end_station_id      110674 non-null  object
 8   start_lat           111115 non-null  float64
 9   start_lng           111115 non-null  float64
 10  end_lat             111061 non-null  float64
 11  end_lng             111061 non-null  float64
 12  member_casual       111115 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 11.0+ MB

In [30]:
#summary of df
december_2024_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54833 entries, 0 to 54832
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             54833 non-null  object
 1   rideable_type       54833 non-null  object
 2   started_at          54833 non-null  datetime64[ns]
 3   ended_at            54833 non-null  datetime64[ns]
 4   start_station_name  54833 non-null  object
 5   start_station_id    54833 non-null  object
 6   end_station_name    54709 non-null  object
 7   end_station_id      54667 non-null  object
 8   start_lat           54833 non-null  float64
 9   start_lng           54833 non-null  float64
 10  end_lat             54817 non-null  float64
 11  end_lng             54817 non-null  float64
 12  member_casual       54833 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 5.4+ MB

In [31]:
#list all DataFrames
dfs = [
    june_2019_df, december_2019_df, june_2020_df, december_2020_df,
    june_2021_df, december_2021_df, june_2022_df, december_2022_df,
    june_2023_df, december_2023_df, june_2024_df, december_2024_df
]

#view all unique column names across all DataFrames
all_columns = set().union(*(df.columns for df in dfs))
all_columns

{'bikeid',
 'birth year',
 'end_lat',
 'end_lng',
 'end_station_id',
 'end_station_name',
 'ended_at',
 'gender',
 'member_casual',
 'ride_id',
 'rideable_type',
 'start_lat',
 'start_lng',
 'start_station_id',
 'start_station_name',
 'started_at',
 'tripduration'}

In [32]:
#reindex each DataFrame to ensure they all have the same columns
aligned_dfs = [df.reindex(columns=all_columns) for df in dfs]
aligned_dfs

[       bikeid  start_lng end_station_name  gender member_casual  \
 0       29677 -74.038051     Newport Pkwy       1    Subscriber
 1       29571 -74.043845     Morris Canal       1    Subscriber
 2       26208 -74.032108     Newport Pkwy       0      Customer
 3       29487 -74.032108     Newport Pkwy       0      Customer
 4       29592 -74.052478      Oakland Ave       1    Subscriber
 ...       ...        ...              ...     ...           ...
 39425   29197 -74.071061         Union St       1      Customer
 39426   26262 -74.071061         Union St       2      Customer
 39427   29241 -74.071455         Union St       1    Subscriber
 39428   26254 -74.043845   Van Vorst Park       1    Subscriber
 39429   29551 -74.051789    Grove St PATH       1    Subscriber

                  ended_at start_station_name          started_at  \
 0     2019-06-01 00:11:11          Warren St 2019-06-01 00:05:55
 1     2019-06-01 00:12:50          City Hall 2019-06-01 00:08:09
 2     2019-06-01 00:49:14       Newport Pkwy 2019-06-01 00:13:11
 3     2019-06-01 00:49:54       Newport Pkwy 2019-06-01 00:13:30
 4     2019-06-01 00:15:51        Oakland Ave 2019-06-01 00:13:31
 ...                   ...                ...                 ...
 39425 2019-06-30 23:49:09       Glenwood Ave 2019-06-30 23:38:29
 39426 2019-06-30 23:49:17       Glenwood Ave 2019-06-30 23:38:34
 39427 2019-06-30 23:49:29         Bergen Ave 2019-06-30 23:42:30
 39428 2019-07-01 00:28:27          City Hall 2019-06-30 23:46:17
 39429 2019-07-01 00:02:53     Pershing Field 2019-06-30 23:49:01

        start_station_id  ride_id  birth year    end_lng  end_station_id  \
 0                  3187      NaN        1993 -74.032108            3199
 1                  3185      NaN        1984 -74.038526            3267
 2                  3199      NaN        1969 -74.032108            3199
 3                  3199      NaN        1969 -74.032108            3199
 4                  3207      NaN        1994 -74.052478            3207
 ...                 ...      ...         ...        ...             ...
 39425              3677      NaN        1986 -74.083639            3191
 39426              3677      NaN        1990 -74.083639            3191
 39427              3679      NaN        1979 -74.083639            3191
 39428              3185      NaN        1982 -74.047727            3213
 39429              3210      NaN        1988 -74.043117            3186

        rideable_type  start_lat  tripduration    end_lat
 0                NaN  40.721124           316  40.728745
 1                NaN  40.717732           280  40.712419
 2                NaN  40.728745          2162  40.728745
 3                NaN  40.728745          2184  40.728745
 4                NaN  40.737604           139  40.737604
 ...              ...        ...           ...        ...
 39425            NaN  40.727551           639  40.718211
 39426            NaN  40.727551           643  40.718211
 39427            NaN  40.722104           418  40.718211
 39428            NaN  40.717732          2529  40.718489
 39429            NaN  40.742677           831  40.719586

 [39430 rows x 17 columns],
        bikeid  start_lng   end_station_name  gender member_casual  \
 0       29462 -74.037683   Heights Elevator       1    Subscriber
 1       29610 -74.063913         Bergen Ave       1    Subscriber
 2       26166 -74.063913      Fairmount Ave       1    Subscriber
 3       29492 -74.033759      Washington St       1    Subscriber
 4       29440 -74.063913         Bergen Ave       1      Customer
 ...       ...        ...                ...     ...           ...
 19723   29245 -74.063913         Bergen Ave       1      Customer
 19724   26153 -74.043117  JC Medical Center       1    Subscriber
 19725   26276 -74.050656          City Hall       1    Subscriber
 19726   29461 -74.034234      Grove St PATH       1    Subscriber
 19727   29123 -74.063913        Astor Place       1    Subscriber

                  ended_at start_station_name          started_at  \
 0     2019-12-01 00:33:07           Grand St 2019-12-01 00:07:13
 1     2019-12-01 00:23:36            Sip Ave 2019-12-01 00:16:40
 2     2019-12-01 00:25:23            Sip Ave 2019-12-01 00:20:29
 3     2019-12-01 00:22:51       Newport PATH 2019-12-01 00:21:13
 4     2019-12-01 00:34:44            Sip Ave 2019-12-01 00:29:58
 ...                   ...                ...                 ...
 19723 2019-12-31 23:17:01            Sip Ave 2019-12-31 23:12:18
 19724 2019-12-31 23:23:30      Grove St PATH 2019-12-31 23:19:03
 19725 2019-12-31 23:25:25       Brunswick St 2019-12-31 23:19:06
 19726 2019-12-31 23:27:09         Harborside 2019-12-31 23:24:00
 19727 2019-12-31 23:50:47            Sip Ave 2019-12-31 23:45:20

        start_station_id  ride_id  birth year    end_lng  end_station_id  \
 0                  3681      NaN        1980 -74.040443            3198
 1                  3195      NaN        1956 -74.071455            3679
 2                  3195      NaN        1977 -74.071959            3678
 3                  3202      NaN        1993 -74.035483            3638
 4                  3195      NaN        1990 -74.071455            3679
 ...                 ...      ...         ...        ...             ...
 19723              3195      NaN        1990 -74.071455            3679
 19724              3186      NaN        1989 -74.049638            3205
 19725              3209      NaN        1984 -74.043845            3185
 19726              3639      NaN        1987 -74.043117            3186
 19727              3195      NaN        1988 -74.071262            3280

        rideable_type  start_lat  tripduration    end_lat
 0                NaN  40.715178          1553  40.748716
 1                NaN  40.730897           416  40.722104
 2                NaN  40.730897           294  40.725726
 3                NaN  40.727224            97  40.724294
 4                NaN  40.730897           286  40.722104
 ...              ...        ...           ...        ...
 19723            NaN  40.730897           283  40.722104
 19724            NaN  40.719586           267  40.716540
 19725            NaN  40.724176           379  40.717732
 19726            NaN  40.719252           188  40.719586
 19727            NaN  40.730897           326  40.719282

 [19728 rows x 17 columns],
        bikeid  start_lng  end_station_name  gender member_casual  \
 0       42489 -74.032810        Harborside       1    Subscriber
 1       42183 -74.040443  Marin Light Rail       1    Subscriber
 2       42140 -74.038914          Grand St       1    Subscriber
 3       42120 -74.038526          Grand St       1    Subscriber
 4       42437 -74.034234     Grove St PATH       2    Subscriber
 ...       ...        ...               ...     ...           ...
 36916   18351 -74.032108      Newport Pkwy       0      Customer
 36917   44401 -74.032108      Newport Pkwy       0      Customer
 36918   42334 -74.032108      Newport Pkwy       0      Customer
 36919   42463 -74.032108      Newport Pkwy       0      Customer
 36920   42468 -74.032108      Newport Pkwy       2      Customer

                  ended_at          start_station_name          started_at  \
 0     2020-06-01 00:04:24  Columbus Dr at Exchange Pl 2020-06-01 00:02:21
 1     2020-06-01 00:33:50            Heights Elevator 2020-06-01 00:12:27
 2     2020-06-01 01:23:05              Columbus Drive 2020-06-01 01:19:59
 3     2020-06-01 01:28:53                Morris Canal 2020-06-01 01:26:42
 4     2020-06-01 01:32:00                  Harborside 2020-06-01 01:27:33
 ...                   ...                         ...                 ...
 36916 2020-07-01 00:40:28                Newport Pkwy 2020-06-30 23:53:19
 36917 2020-07-01 00:40:13                Newport Pkwy 2020-06-30 23:54:44
 36918 2020-07-01 00:41:20                Newport Pkwy 2020-06-30 23:54:52
 36919 2020-07-01 00:41:16                Newport Pkwy 2020-06-30 23:56:14
 36920 2020-07-01 00:41:55                Newport Pkwy 2020-06-30 23:57:46

        start_station_id  ride_id  birth year    end_lng  end_station_id  \
 0                  3792      NaN        1987 -74.034234            3639
 1                  3198      NaN        1988 -74.042817            3276
 2                  3275      NaN        1987 -74.037683            3681
 3                  3267      NaN        1987 -74.037683            3681
 4                  3639      NaN        1972 -74.043117            3186
 ...                 ...      ...         ...        ...             ...
 36916              3199      NaN        1969 -74.032108            3199
 36917              3199      NaN        1969 -74.032108            3199
 36918              3199      NaN        1969 -74.032108            3199
 36919              3199      NaN        1969 -74.032108            3199
 36920              3199      NaN        1998 -74.032108            3199

        rideable_type  start_lat  tripduration    end_lat
 0                NaN  40.716870           122  40.719252
 1                NaN  40.748716          1282  40.714584
 2                NaN  40.718355           186  40.715178
 3                NaN  40.712419           131  40.715178
 4                NaN  40.719252           266  40.719586
 ...              ...        ...           ...        ...
 36916            NaN  40.728745          2828  40.728745
 36917            NaN  40.728745          2729  40.728745
 36918            NaN  40.728745          2788  40.728745
 36919            NaN  40.728745          2702  40.728745
 36920            NaN  40.728745          2649  40.728745

 [36921 rows x 17 columns],
        bikeid  start_lng end_station_name  gender member_casual  \
 0       42308 -74.033759     Newport Pkwy       2    Subscriber
 1       18568 -74.062500      Astor Place       2    Subscriber
 2       44543 -74.062500  McGinley Square       1    Subscriber
 3       43098 -74.043117  Jersey & 6th St       1    Subscriber
 4       44723 -74.050444     Brunswick St       1    Subscriber
 ...       ...        ...              ...     ...           ...
 11689   40440 -74.032108     Newport Pkwy       0      Customer
 11690   46340 -74.033552          Sip Ave       0      Customer
 11691   40907 -74.063913  Jersey & 6th St       1      Customer
 11692   42250 -74.037683     Newport Pkwy       0      Customer
 11693   48742 -74.038526     Morris Canal       1    Subscriber

                  ended_at start_station_name          started_at  \
 0     2020-12-01 00:05:16       Newport PATH 2020-12-01 00:02:50
 1     2020-12-01 00:21:30     Journal Square 2020-12-01 00:11:57
 2     2020-12-01 00:21:16     Journal Square 2020-12-01 00:14:49
 3     2020-12-01 00:48:14      Grove St PATH 2020-12-01 00:45:06
 4     2020-12-01 01:27:11    Christ Hospital 2020-12-01 01:17:17
 ...                   ...                ...                 ...
 11689 2020-12-31 23:36:54       Newport Pkwy 2020-12-31 23:07:44
 11690 2020-12-31 23:43:19        Paulus Hook 2020-12-31 23:18:00
 11691 2021-01-01 00:00:31            Sip Ave 2020-12-31 23:31:09
 11692 2020-12-31 23:46:22           Grand St 2020-12-31 23:35:45
 11693 2021-01-01 00:15:22       Morris Canal 2020-12-31 23:48:34

        start_station_id  ride_id  birth year    end_lng  end_station_id  \
 0                  3202      NaN        1989 -74.032108            3199
 1                  3640      NaN        1997 -74.071262            3280
 2                  3640      NaN        1960 -74.067622            3194
 3                  3186      NaN        1998 -74.045572            3270
 4                  3212      NaN        1988 -74.050656            3209
 ...                 ...      ...         ...        ...             ...
 11689              3199      NaN        1969 -74.032108            3199
 11690              3184      NaN        1969 -74.063913            3195
 11691              3195      NaN        1998 -74.045572            3270
 11692              3681      NaN        1969 -74.032108            3199
 11693              3267      NaN        1982 -74.038526            3267

        rideable_type  start_lat  tripduration    end_lat
 0                NaN  40.727224           146  40.728745
 1                NaN  40.733670           572  40.719282
 2                NaN  40.733670           387  40.725340
 3                NaN  40.719586           188  40.725289
 4                NaN  40.734786           594  40.724176
 ...              ...        ...           ...        ...
 11689            NaN  40.728745          1750  40.728745
 11690            NaN  40.714145          1519  40.730897
 11691            NaN  40.730897          1761  40.725289
 11692            NaN  40.715178           637  40.728745
 11693            NaN  40.712419          1607  40.712419

 [11694 rows x 17 columns],
        bikeid  start_lng                          end_station_name  gender  \
 0         NaN -74.049968                                       NaN     NaN
 1         NaN -74.049967                            Journal Square     NaN
 2         NaN -74.027150  Hoboken Terminal - Hudson St & Hudson Pl     NaN
 3         NaN -74.028199  Hoboken Terminal - Hudson St & Hudson Pl     NaN
 4         NaN -74.027150         Columbus Park - Clinton St & 9 St     NaN
 ...       ...        ...                                       ...     ...
 71437     NaN -74.038525                                 Warren St     NaN
 71438     NaN -74.038525                                 Warren St     NaN
 71439     NaN -74.038525                                 Warren St     NaN
 71440     NaN -74.038525                                 Warren St     NaN
 71441     NaN -74.038525                                 Warren St     NaN

       member_casual            ended_at     start_station_name  \
 0            member 2021-06-21 10:49:25            Dixon Mills
 1            member 2021-06-12 10:35:11            Dixon Mills
 2            member 2021-06-07 14:58:25  11 St & Washington St
 3            casual 2021-06-07 08:34:17   8 St & Washington St
 4            member 2021-06-18 14:26:26  11 St & Washington St
 ...             ...                 ...                    ...
 71437        member 2021-06-06 22:13:46           Morris Canal
 71438        member 2021-06-20 21:00:44           Morris Canal
 71439        member 2021-06-01 21:36:04           Morris Canal
 71440        member 2021-06-11 15:30:18           Morris Canal
 71441        member 2021-06-06 23:28:04           Morris Canal

                started_at start_station_id           ride_id  birth year  \
 0     2021-06-21 07:38:42            JC076  7830EBE775F2EE25         NaN
 1     2021-06-12 10:25:01            JC076  629A3BFD50BF8392         NaN
 2     2021-06-07 14:52:05            HB502  CF02EC434989A99D         NaN
 3     2021-06-07 08:29:19            HB603  E1BB8FED29AA5BA1         NaN
 4     2021-06-18 14:16:27            HB502  787C59EE76D96BCA         NaN
 ...                   ...              ...               ...         ...
 71437 2021-06-06 22:07:08            JC072  837E135024442757         NaN
 71438 2021-06-20 20:53:48            JC072  14F127B834A8ED72         NaN
 71439 2021-06-01 21:27:29            JC072  A9FE39A9E76C2192         NaN
 71440 2021-06-11 15:22:44            JC072  E0FCE3CE0160B4E0         NaN
 71441 2021-06-06 23:22:42            JC072  B342E07B460305A1         NaN

          end_lng end_station_id rideable_type  start_lat  tripduration  \
 0            NaN            NaN  classic_bike  40.721630           NaN
 1     -74.062500          JC103   docked_bike  40.721630           NaN
 2     -74.030305          HB101   docked_bike  40.749984           NaN
 3     -74.030305          HB101   docked_bike  40.745983           NaN
 4     -74.032453          HB501   docked_bike  40.749984           NaN
 ...          ...            ...           ...        ...           ...
 71437 -74.038051          JC006   docked_bike  40.712418           NaN
 71438 -74.038051          JC006   docked_bike  40.712418           NaN
 71439 -74.038051          JC006   docked_bike  40.712418           NaN
 71440 -74.038051          JC006   docked_bike  40.712418           NaN
 71441 -74.038051          JC006   docked_bike  40.712418           NaN

          end_lat
 0            NaN
 1      40.733670
 2      40.735938
 3      40.735938
 4      40.748161
 ...          ...
 71437  40.721124
 71438  40.721124
 71439  40.721124
 71440  40.721124
 71441  40.721124

 [71442 rows x 17 columns],
        bikeid  start_lng       end_station_name  gender member_casual  \
 0         NaN -74.044247          Grove St PATH     NaN        member
 1         NaN -74.044247                Hilltop     NaN        casual
 2         NaN -74.050656           Brunswick St     NaN        casual
 3         NaN -74.050656  Baldwin at Montgomery     NaN        member
 4         NaN -74.050656            Paulus Hook     NaN        casual
 ...       ...        ...                    ...     ...           ...
 48016     NaN -74.043117          Hamilton Park     NaN        member
 48017     NaN -74.043117          Hamilton Park     NaN        member
 48018     NaN -74.043117          Hamilton Park     NaN        member
 48019     NaN -74.043117          Hamilton Park     NaN        member
 48020     NaN -74.057574          Hamilton Park     NaN        member

                  ended_at start_station_name          started_at  \
 0     2021-12-12 09:23:08      Hamilton Park 2021-12-12 09:16:59
 1     2021-12-07 20:14:14      Hamilton Park 2021-12-07 20:06:14
 2     2021-12-31 16:14:39       Brunswick St 2021-12-31 16:07:10
 3     2021-12-11 03:31:16       Brunswick St 2021-12-11 03:25:41
 4     2021-12-17 11:12:41       Brunswick St 2021-12-17 10:59:28
 ...                   ...                ...                 ...
 48016 2021-12-16 17:22:53      Grove St PATH 2021-12-16 17:17:46
 48017 2021-12-07 17:15:02      Grove St PATH 2021-12-07 17:10:29
 48018 2021-12-18 09:55:55      Grove St PATH 2021-12-18 09:50:14
 48019 2021-12-10 21:49:04      Grove St PATH 2021-12-10 21:43:32
 48020 2021-12-08 11:14:58            Hilltop 2021-12-08 11:09:56

       start_station_id           ride_id  birth year    end_lng  \
 0                JC009  87F1811D08BA7BF3         NaN -74.043117
 1                JC009  48390A4B390ABD36         NaN -74.057574
 2                JC023  93AE14B47CBB30F8         NaN -74.050656
 3                JC023  5D0BDBFB30D7C9F6         NaN -74.064194
 4                JC023  D6382ADAF1672DD8         NaN -74.033552
 ...                ...               ...         ...        ...
 48016            JC005  13FE513C650901A3         NaN -74.044247
 48017            JC005  CA29051F38E67D30         NaN -74.044247
 48018            JC005  A719DEA143005404         NaN -74.044247
 48019            JC005  D39126975208B59D         NaN -74.044247
 48020            JC019  1BB5CF43B5DF7E05         NaN -74.044247

       end_station_id  rideable_type  start_lat  tripduration    end_lat
 0              JC005   classic_bike  40.727596           NaN  40.719586
 1              JC019  electric_bike  40.727596           NaN  40.731169
 2              JC023   classic_bike  40.724176           NaN  40.724176
 3              JC020  electric_bike  40.724176           NaN  40.723659
 4              JC002   classic_bike  40.724176           NaN  40.714145
 ...              ...            ...        ...           ...        ...
 48016          JC009   classic_bike  40.719586           NaN  40.727596
 48017          JC009   classic_bike  40.719586           NaN  40.727596
 48018          JC009   classic_bike  40.719586           NaN  40.727596
 48019          JC009   classic_bike  40.719586           NaN  40.727596
 48020          JC009   classic_bike  40.731169           NaN  40.727596

 [48021 rows x 17 columns],
         bikeid  start_lng       end_station_name  gender member_casual  \

In [33]:
#combine the data into a single DataFrame
cleaned_bike_df = pd.concat(aligned_dfs, ignore_index=True)
cleaned_bike_df.head()

,bikeid,start_lng,end_station_name,gender,member_casual,ended_at,start_station_name,started_at,start_station_id,ride_id,birth year,end_lng,end_station_id,rideable_type,start_lat,tripduration,end_lat
0,29677.0,-74.038051,Newport Pkwy,1.0,Subscriber,2019-06-01 00:11:11,Warren St,2019-06-01 00:05:55,3187,NaN,1993.0,-74.032108,3199,NaN,40.721124,316.0,40.728745
1,29571.0,-74.043845,Morris Canal,1.0,Subscriber,2019-06-01 00:12:50,City Hall,2019-06-01 00:08:09,3185,NaN,1984.0,-74.038526,3267,NaN,40.717732,280.0,40.712419
2,26208.0,-74.032108,Newport Pkwy,0.0,Customer,2019-06-01 00:49:14,Newport Pkwy,2019-06-01 00:13:11,3199,NaN,1969.0,-74.032108,3199,NaN,40.728745,2162.0,40.728745
3,29487.0,-74.032108,Newport Pkwy,0.0,Customer,2019-06-01 00:49:54,Newport Pkwy,2019-06-01 00:13:30,3199,NaN,1969.0,-74.032108,3199,NaN,40.728745,2184.0,40.728745
4,29592.0,-74.052478,Oakland Ave,1.0,Subscriber,2019-06-01 00:15:51,Oakland Ave,2019-06-01 00:13:31,3207,NaN,1994.0,-74.052478,3207,NaN,40.737604,139.0,40.737604

In [34]:
cleaned_bike_df.tail()

,bikeid,start_lng,end_station_name,gender,member_casual,ended_at,start_station_name,started_at,start_station_id,ride_id,birth year,end_lng,end_station_id,rideable_type,start_lat,tripduration,end_lat
700766,NaN,-74.042817,Exchange Pl,NaN,member,2024-12-28 09:48:02,Marin Light Rail,2024-12-28 09:45:30,JC013,7E81F3435D05D1F4,NaN,-74.034344,JC116,electric_bike,40.714584,NaN,40.716366
700767,NaN,-74.042817,Manila & 1st,NaN,member,2024-12-12 16:26:34,Marin Light Rail,2024-12-12 16:21:50,JC013,70499242367CEA82,NaN,-74.042884,JC082,classic_bike,40.714584,NaN,40.721651
700768,NaN,-74.043090,Manila & 1st,NaN,member,2024-12-11 19:25:07,Grove St PATH,2024-12-11 19:23:24,JC115,146BB7BEE3C31DAC,NaN,-74.042884,JC082,classic_bike,40.719410,NaN,40.721651
700769,NaN,-74.043090,Exchange Pl,NaN,member,2024-12-12 20:52:41,Grove St PATH,2024-12-12 20:48:40,JC115,ADA14EC995D83769,NaN,-74.034344,JC116,classic_bike,40.719410,NaN,40.716366
700770,NaN,-74.042817,Manila & 1st,NaN,member,2024-12-04 18:19:02,Marin Light Rail,2024-12-04 18:14:12,JC013,214E88D0B0FCBA75,NaN,-74.042884,JC082,classic_bike,40.714584,NaN,40.721651

In [35]:
#create new columns for start and end date
cleaned_bike_df["start_date"] = cleaned_bike_df["started_at"].dt.date
cleaned_bike_df["end_date"] = cleaned_bike_df["ended_at"].dt.date
cleaned_bike_df

,bikeid,start_lng,end_station_name,gender,member_casual,ended_at,start_station_name,started_at,start_station_id,ride_id,birth year,end_lng,end_station_id,rideable_type,start_lat,tripduration,end_lat,start_date,end_date
0,29677.0,-74.038051,Newport Pkwy,1.0,Subscriber,2019-06-01 00:11:11,Warren St,2019-06-01 00:05:55,3187,NaN,1993.0,-74.032108,3199,NaN,40.721124,316.0,40.728745,2019-06-01,2019-06-01
1,29571.0,-74.043845,Morris Canal,1.0,Subscriber,2019-06-01 00:12:50,City Hall,2019-06-01 00:08:09,3185,NaN,1984.0,-74.038526,3267,NaN,40.717732,280.0,40.712419,2019-06-01,2019-06-01
2,26208.0,-74.032108,Newport Pkwy,0.0,Customer,2019-06-01 00:49:14,Newport Pkwy,2019-06-01 00:13:11,3199,NaN,1969.0,-74.032108,3199,NaN,40.728745,2162.0,40.728745,2019-06-01,2019-06-01
3,29487.0,-74.032108,Newport Pkwy,0.0,Customer,2019-06-01 00:49:54,Newport Pkwy,2019-06-01 00:13:30,3199,NaN,1969.0,-74.032108,3199,NaN,40.728745,2184.0,40.728745,2019-06-01,2019-06-01
4,29592.0,-74.052478,Oakland Ave,1.0,Subscriber,2019-06-01 00:15:51,Oakland Ave,2019-06-01 00:13:31,3207,NaN,1994.0,-74.052478,3207,NaN,40.737604,139.0,40.737604,2019-06-01,2019-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700766,NaN,-74.042817,Exchange Pl,NaN,member,2024-12-28 09:48:02,Marin Light Rail,2024-12-28 09:45:30,JC013,7E81F3435D05D1F4,NaN,-74.034344,JC116,electric_bike,40.714584,NaN,40.716366,2024-12-28,2024-12-28
700767,NaN,-74.042817,Manila & 1st,NaN,member,2024-12-12 16:26:34,Marin Light Rail,2024-12-12 16:21:50,JC013,70499242367CEA82,NaN,-74.042884,JC082,classic_bike,40.714584,NaN,40.721651,2024-12-12,2024-12-12
700768,NaN,-74.043090,Manila & 1st,NaN,member,2024-12-11 19:25:07,Grove St PATH,2024-12-11 19:23:24,JC115,146BB7BEE3C31DAC,NaN,-74.042884,JC082,classic_bike,40.719410,NaN,40.721651,2024-12-11,2024-12-11
700769,NaN,-74.043090,Exchange Pl,NaN,member,2024-12-12 20:52:41,Grove St PATH,2024-12-12 20:48:40,JC115,ADA14EC995D83769,NaN,-74.034344,JC116,classic_bike,40.719410,NaN,40.716366,2024-12-12,2024-12-12
700770,NaN,-74.042817,Manila & 1st,NaN,member,2024-12-04 18:19:02,Marin Light Rail,2024-12-04 18:14:12,JC013,214E88D0B0FCBA75,NaN,-74.042884,JC082,classic_bike,40.714584,NaN,40.721651,2024-12-04,2024-12-04

In [36]:
# #calculate ride duration in seconds
# june_2023_df["ride_duration"] = ((june_2023_df["ended_at"] - june_2023_df["started_at"]).dt.total_seconds() / 60).round(2)


#calculate ride duration in minutes 
cleaned_bike_df["ride_duration_minutes"] = ((cleaned_bike_df["ended_at"] - cleaned_bike_df["started_at"]).dt.total_seconds() / 60).round(2)

#calculate ride duration in hours
cleaned_bike_df["ride_duration_hours"] = (cleaned_bike_df["ride_duration_minutes"] / 60).round(2)

#ride duration formatted HH:MM
cleaned_bike_df["ride_duration_HH:MM"] = cleaned_bike_df.apply(
    lambda row: f"{int(row['ride_duration_minutes'] // 60)}h {int(row['ride_duration_minutes'] % 60)}m"
    if pd.notnull(row["ride_duration_minutes"]) else "Invalid Duration",
    axis=1
)

cleaned_bike_df

,bikeid,start_lng,end_station_name,gender,member_casual,ended_at,start_station_name,started_at,start_station_id,ride_id,...,end_station_id,rideable_type,start_lat,tripduration,end_lat,start_date,end_date,ride_duration_minutes,ride_duration_hours,ride_duration_HH:MM
0,29677.0,-74.038051,Newport Pkwy,1.0,Subscriber,2019-06-01 00:11:11,Warren St,2019-06-01 00:05:55,3187,NaN,...,3199,NaN,40.721124,316.0,40.728745,2019-06-01,2019-06-01,5.27,0.09,0h 5m
1,29571.0,-74.043845,Morris Canal,1.0,Subscriber,2019-06-01 00:12:50,City Hall,2019-06-01 00:08:09,3185,NaN,...,3267,NaN,40.717732,280.0,40.712419,2019-06-01,2019-06-01,4.68,0.08,0h 4m
2,26208.0,-74.032108,Newport Pkwy,0.0,Customer,2019-06-01 00:49:14,Newport Pkwy,2019-06-01 00:13:11,3199,NaN,...,3199,NaN,40.728745,2162.0,40.728745,2019-06-01,2019-06-01,36.05,0.60,0h 36m
3,29487.0,-74.032108,Newport Pkwy,0.0,Customer,2019-06-01 00:49:54,Newport Pkwy,2019-06-01 00:13:30,3199,NaN,...,3199,NaN,40.728745,2184.0,40.728745,2019-06-01,2019-06-01,36.40,0.61,0h 36m
4,29592.0,-74.052478,Oakland Ave,1.0,Subscriber,2019-06-01 00:15:51,Oakland Ave,2019-06-01 00:13:31,3207,NaN,...,3207,NaN,40.737604,139.0,40.737604,2019-06-01,2019-06-01,2.33,0.04,0h 2m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700766,NaN,-74.042817,Exchange Pl,NaN,member,2024-12-28 09:48:02,Marin Light Rail,2024-12-28 09:45:30,JC013,7E81F3435D05D1F4,...,JC116,electric_bike,40.714584,NaN,40.716366,2024-12-28,2024-12-28,2.53,0.04,0h 2m
700767,NaN,-74.042817,Manila & 1st,NaN,member,2024-12-12 16:26:34,Marin Light Rail,2024-12-12 16:21:50,JC013,70499242367CEA82,...,JC082,classic_bike,40.714584,NaN,40.721651,2024-12-12,2024-12-12,4.73,0.08,0h 4m
700768,NaN,-74.043090,Manila & 1st,NaN,member,2024-12-11 19:25:07,Grove St PATH,2024-12-11 19:23:24,JC115,146BB7BEE3C31DAC,...,JC082,classic_bike,40.719410,NaN,40.721651,2024-12-11,2024-12-11,1.72,0.03,0h 1m
700769,NaN,-74.043090,Exchange Pl,NaN,member,2024-12-12 20:52:41,Grove St PATH,2024-12-12 20:48:40,JC115,ADA14EC995D83769,...,JC116,classic_bike,40.719410,NaN,40.716366,2024-12-12,2024-12-12,4.02,0.07,0h 4m
700770,NaN,-74.042817,Manila & 1st,NaN,member,2024-12-04 18:19:02,Marin Light Rail,2024-12-04 18:14:12,JC013,214E88D0B0FCBA75,...,JC082,classic_bike,40.714584,NaN,40.721651,2024-12-04,2024-12-04,4.83,0.08,0h 4m

In [37]:
#remove from started_at column, May (5) and November (11)
cleaned_bike_df = cleaned_bike_df[~cleaned_bike_df["started_at"].dt.month.isin([5, 11])]

In [38]:
#get info about total rows and columns 
num_rows, num_columns = cleaned_bike_df.shape

print(f"Total number of rows is: {num_rows}")
print(f"Total number of columns is: {num_columns}")

Total number of rows is: 700743
Total number of columns is: 22

In [39]:
#summary of df
cleaned_bike_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 700743 entries, 0 to 700770
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   bikeid                 107773 non-null  float64
 1   start_lng              700743 non-null  float64
 2   end_station_name       698488 non-null  object
 3   gender                 107773 non-null  float64
 4   member_casual          700743 non-null  object
 5   ended_at               700743 non-null  datetime64[ns]
 6   start_station_name     700683 non-null  object
 7   started_at             700743 non-null  datetime64[ns]
 8   start_station_id       700683 non-null  object
 9   ride_id                592970 non-null  object
 10  birth year             107773 non-null  float64
 11  end_lng                699839 non-null  float64
 12  end_station_id         698425 non-null  object
 13  rideable_type          592970 non-null  object
 14  start_lat              700743 non-null  float64
 15  tripduration           107773 non-null  float64
 16  end_lat                699839 non-null  float64
 17  start_date             700743 non-null  object
 18  end_date               700743 non-null  object
 19  ride_duration_minutes  700743 non-null  float64
 20  ride_duration_hours    700743 non-null  float64
 21  ride_duration_HH:MM    700743 non-null  object
dtypes: datetime64[ns](2), float64(10), object(10)
memory usage: 123.0+ MB

In [40]:
#find unique value counts on each column
cleaned_bike_df.nunique()

bikeid                     1584
start_lng                 80293
end_station_name            463
gender                        3
member_casual                 4
ended_at                 683800
start_station_name          249
started_at               683057
start_station_id            301
ride_id                  592970
birth year                   64
end_lng                     556
end_station_id              535
rideable_type                 3
start_lat                 77808
tripduration               7072
end_lat                     553
start_date                  366
end_date                    397
ride_duration_minutes     11375
ride_duration_hours        1665
ride_duration_HH:MM        1258
dtype: int64

In [41]:
#check for any duplicates
#duplicated_df = complete_bike_df[complete_bike_df.duplicated()]
# duplicated_df = cleaned_bike_df[cleaned_bike_df.duplicated(subset=["ride_id"])]
cleaned_bike_df.duplicated().sum()

0

In [42]:
'''validated online before replcing: a "customer" refers to someone who uses the bike sharing service by purchasing a short-term pass like a day pass, while a "subscriber" is someone who has signed up for an annual membership, giving them recurring access to the bikes with typically more benefits like longer ride times and lower per-use costs'''
#replace 'Customer' with 'casual' and 'Subscriber' with 'member' in "Member Casual" column 
cleaned_bike_df.loc[:, "member_casual"] = cleaned_bike_df["member_casual"].replace({
    "Customer": "casual",
    "Subscriber": "member"
})

In [43]:
#check for any null values
cleaned_bike_df.isna().sum()

bikeid                   592970
start_lng                     0
end_station_name           2255
gender                   592970
member_casual                 0
ended_at                      0
start_station_name           60
started_at                    0
start_station_id             60
ride_id                  107773
birth year               592970
end_lng                     904
end_station_id             2318
rideable_type            107773
start_lat                     0
tripduration             592970
end_lat                     904
start_date                    0
end_date                      0
ride_duration_minutes         0
ride_duration_hours           0
ride_duration_HH:MM           0
dtype: int64

In [44]:
#use haversine formula which calculates the great circle distance between two points on Earth.
# Function to calculate distance using Haversine formula
def haversine_miles(lat1, lon1, lat2, lon2):
    R = 3958.8  # Earth radius in miles
    
    # Check if any value is missing
    if pd.isnull(lat1) or pd.isnull(lon1) or pd.isnull(lat2) or pd.isnull(lon2):
        return np.nan  # Return NaN if any coordinate is missing

    # Convert degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = np.sin(dlat / 2.0) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0) ** 2
    c = 2 * np.arcsin(np.sqrt(a))

    return R * c  # Distance in miles

cleaned_bike_df = cleaned_bike_df.copy()

# Apply the function to calculate distance for each trip
cleaned_bike_df.loc[:, "distance_traveled_miles"] = cleaned_bike_df.apply(
    lambda row: haversine_miles(row["start_lat"], row["start_lng"], row["end_lat"], row["end_lng"]),
    axis=1
)

cleaned_bike_df

,bikeid,start_lng,end_station_name,gender,member_casual,ended_at,start_station_name,started_at,start_station_id,ride_id,...,rideable_type,start_lat,tripduration,end_lat,start_date,end_date,ride_duration_minutes,ride_duration_hours,ride_duration_HH:MM,distance_traveled_miles
0,29677.0,-74.038051,Newport Pkwy,1.0,member,2019-06-01 00:11:11,Warren St,2019-06-01 00:05:55,3187,NaN,...,NaN,40.721124,316.0,40.728745,2019-06-01,2019-06-01,5.27,0.09,0h 5m,0.611653
1,29571.0,-74.043845,Morris Canal,1.0,member,2019-06-01 00:12:50,City Hall,2019-06-01 00:08:09,3185,NaN,...,NaN,40.717732,280.0,40.712419,2019-06-01,2019-06-01,4.68,0.08,0h 4m,0.460873
2,26208.0,-74.032108,Newport Pkwy,0.0,casual,2019-06-01 00:49:14,Newport Pkwy,2019-06-01 00:13:11,3199,NaN,...,NaN,40.728745,2162.0,40.728745,2019-06-01,2019-06-01,36.05,0.60,0h 36m,0.000000
3,29487.0,-74.032108,Newport Pkwy,0.0,casual,2019-06-01 00:49:54,Newport Pkwy,2019-06-01 00:13:30,3199,NaN,...,NaN,40.728745,2184.0,40.728745,2019-06-01,2019-06-01,36.40,0.61,0h 36m,0.000000
4,29592.0,-74.052478,Oakland Ave,1.0,member,2019-06-01 00:15:51,Oakland Ave,2019-06-01 00:13:31,3207,NaN,...,NaN,40.737604,139.0,40.737604,2019-06-01,2019-06-01,2.33,0.04,0h 2m,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700766,NaN,-74.042817,Exchange Pl,NaN,member,2024-12-28 09:48:02,Marin Light Rail,2024-12-28 09:45:30,JC013,7E81F3435D05D1F4,...,electric_bike,40.714584,NaN,40.716366,2024-12-28,2024-12-28,2.53,0.04,0h 2m,0.460504
700767,NaN,-74.042817,Manila & 1st,NaN,member,2024-12-12 16:26:34,Marin Light Rail,2024-12-12 16:21:50,JC013,70499242367CEA82,...,classic_bike,40.714584,NaN,40.721651,2024-12-12,2024-12-12,4.73,0.08,0h 4m,0.488279
700768,NaN,-74.043090,Manila & 1st,NaN,member,2024-12-11 19:25:07,Grove St PATH,2024-12-11 19:23:24,JC115,146BB7BEE3C31DAC,...,classic_bike,40.719410,NaN,40.721651,2024-12-11,2024-12-11,1.72,0.03,0h 1m,0.155196
700769,NaN,-74.043090,Exchange Pl,NaN,member,2024-12-12 20:52:41,Grove St PATH,2024-12-12 20:48:40,JC115,ADA14EC995D83769,...,classic_bike,40.719410,NaN,40.716366,2024-12-12,2024-12-12,4.02,0.07,0h 4m,0.504001
700770,NaN,-74.042817,Manila & 1st,NaN,member,2024-12-04 18:19:02,Marin Light Rail,2024-12-04 18:14:12,JC013,214E88D0B0FCBA75,...,classic_bike,40.714584,NaN,40.721651,2024-12-04,2024-12-04,4.83,0.08,0h 4m,0.488279

In [45]:
#check data types
cleaned_bike_df.dtypes

bikeid                            float64
start_lng                         float64
end_station_name                   object
gender                            float64
member_casual                      object
ended_at                   datetime64[ns]
start_station_name                 object
started_at                 datetime64[ns]
start_station_id                   object
ride_id                            object
birth year                        float64
end_lng                           float64
end_station_id                     object
rideable_type                      object
start_lat                         float64
tripduration                      float64
end_lat                           float64
start_date                         object
end_date                           object
ride_duration_minutes             float64
ride_duration_hours               float64
ride_duration_HH:MM                object
distance_traveled_miles           float64
dtype: object

In [46]:
#check data types
for col in cleaned_bike_df.columns:
    print(f"Column: {col}")
    print(cleaned_bike_df[col].map(type).value_counts(), "\n")

Column: bikeid
bikeid
<class 'float'>    700743
Name: count, dtype: int64

Column: start_lng
start_lng
<class 'float'>    700743
Name: count, dtype: int64

Column: end_station_name
end_station_name
<class 'str'>      698488
<class 'float'>      2255
Name: count, dtype: int64

Column: gender
gender
<class 'float'>    700743
Name: count, dtype: int64

Column: member_casual
member_casual
<class 'str'>    700743
Name: count, dtype: int64

Column: ended_at
ended_at
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    700743
Name: count, dtype: int64

Column: start_station_name
start_station_name
<class 'str'>      700683
<class 'float'>        60
Name: count, dtype: int64

Column: started_at
started_at
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    700743
Name: count, dtype: int64

Column: start_station_id
start_station_id
<class 'str'>      592910
<class 'int'>      107773
<class 'float'>        60
Name: count, dtype: int64

Column: ride_id
ride_id
<class 'str'>      592970
<class 'float'>    107773
Name: count, dtype: int64

Column: birth year
birth year
<class 'float'>    700743
Name: count, dtype: int64

Column: end_lng
end_lng
<class 'float'>    700743
Name: count, dtype: int64

Column: end_station_id
end_station_id
<class 'str'>      590652
<class 'int'>      107773
<class 'float'>      2318
Name: count, dtype: int64

Column: rideable_type
rideable_type
<class 'str'>      592970
<class 'float'>    107773
Name: count, dtype: int64

Column: start_lat
start_lat
<class 'float'>    700743
Name: count, dtype: int64

Column: tripduration
tripduration
<class 'float'>    700743
Name: count, dtype: int64

Column: end_lat
end_lat
<class 'float'>    700743
Name: count, dtype: int64

Column: start_date
start_date
<class 'datetime.date'>    700743
Name: count, dtype: int64

Column: end_date
end_date
<class 'datetime.date'>    700743
Name: count, dtype: int64

Column: ride_duration_minutes
ride_duration_minutes
<class 'float'>    700743
Name: count, dtype: int64

Column: ride_duration_hours
ride_duration_hours
<class 'float'>    700743
Name: count, dtype: int64

Column: ride_duration_HH:MM
ride_duration_HH:MM
<class 'str'>    700743
Name: count, dtype: int64

Column: distance_traveled_miles
distance_traveled_miles
<class 'float'>    700743
Name: count, dtype: int64

In [47]:
#align column data types 
#start_station_id - string, ride_id - string, end_station_id- string, rideable_type - string, start_station_name- string, end_station_name- string
columns_to_convert = [
    "start_station_id", "ride_id", "end_station_id",
    "rideable_type", "start_station_name", "end_station_name"
]

cleaned_bike_df[columns_to_convert] = cleaned_bike_df[columns_to_convert].astype(str)

In [48]:
#align column data types 
date_time_convert = [
    "start_date", "end_date"
]

cleaned_bike_df[date_time_convert] = cleaned_bike_df[date_time_convert].apply(pd.to_datetime)

In [49]:
#check data type changes
for col in cleaned_bike_df.columns:
    print(f"Column: {col}")
    print(cleaned_bike_df[col].map(type).value_counts(), "\n")

Column: bikeid
bikeid
<class 'float'>    700743
Name: count, dtype: int64

Column: start_lng
start_lng
<class 'float'>    700743
Name: count, dtype: int64

Column: end_station_name
end_station_name
<class 'str'>    700743
Name: count, dtype: int64

Column: gender
gender
<class 'float'>    700743
Name: count, dtype: int64

Column: member_casual
member_casual
<class 'str'>    700743
Name: count, dtype: int64

Column: ended_at
ended_at
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    700743
Name: count, dtype: int64

Column: start_station_name
start_station_name
<class 'str'>    700743
Name: count, dtype: int64

Column: started_at
started_at
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    700743
Name: count, dtype: int64

Column: start_station_id
start_station_id
<class 'str'>    700743
Name: count, dtype: int64

Column: ride_id
ride_id
<class 'str'>    700743
Name: count, dtype: int64

Column: birth year
birth year
<class 'float'>    700743
Name: count, dtype: int64

Column: end_lng
end_lng
<class 'float'>    700743
Name: count, dtype: int64

Column: end_station_id
end_station_id
<class 'str'>    700743
Name: count, dtype: int64

Column: rideable_type
rideable_type
<class 'str'>    700743
Name: count, dtype: int64

Column: start_lat
start_lat
<class 'float'>    700743
Name: count, dtype: int64

Column: tripduration
tripduration
<class 'float'>    700743
Name: count, dtype: int64

Column: end_lat
end_lat
<class 'float'>    700743
Name: count, dtype: int64

Column: start_date
start_date
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    700743
Name: count, dtype: int64

Column: end_date
end_date
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    700743
Name: count, dtype: int64

Column: ride_duration_minutes
ride_duration_minutes
<class 'float'>    700743
Name: count, dtype: int64

Column: ride_duration_hours
ride_duration_hours
<class 'float'>    700743
Name: count, dtype: int64

Column: ride_duration_HH:MM
ride_duration_HH:MM
<class 'str'>    700743
Name: count, dtype: int64

Column: distance_traveled_miles
distance_traveled_miles
<class 'float'>    700743
Name: count, dtype: int64

In [50]:
cleaned_bike_df.head()

,bikeid,start_lng,end_station_name,gender,member_casual,ended_at,start_station_name,started_at,start_station_id,ride_id,...,rideable_type,start_lat,tripduration,end_lat,start_date,end_date,ride_duration_minutes,ride_duration_hours,ride_duration_HH:MM,distance_traveled_miles
0,29677.0,-74.038051,Newport Pkwy,1.0,member,2019-06-01 00:11:11,Warren St,2019-06-01 00:05:55,3187,nan,...,nan,40.721124,316.0,40.728745,2019-06-01,2019-06-01,5.27,0.09,0h 5m,0.611653
1,29571.0,-74.043845,Morris Canal,1.0,member,2019-06-01 00:12:50,City Hall,2019-06-01 00:08:09,3185,nan,...,nan,40.717732,280.0,40.712419,2019-06-01,2019-06-01,4.68,0.08,0h 4m,0.460873
2,26208.0,-74.032108,Newport Pkwy,0.0,casual,2019-06-01 00:49:14,Newport Pkwy,2019-06-01 00:13:11,3199,nan,...,nan,40.728745,2162.0,40.728745,2019-06-01,2019-06-01,36.05,0.60,0h 36m,0.000000
3,29487.0,-74.032108,Newport Pkwy,0.0,casual,2019-06-01 00:49:54,Newport Pkwy,2019-06-01 00:13:30,3199,nan,...,nan,40.728745,2184.0,40.728745,2019-06-01,2019-06-01,36.40,0.61,0h 36m,0.000000
4,29592.0,-74.052478,Oakland Ave,1.0,member,2019-06-01 00:15:51,Oakland Ave,2019-06-01 00:13:31,3207,nan,...,nan,40.737604,139.0,40.737604,2019-06-01,2019-06-01,2.33,0.04,0h 2m,0.000000

In [51]:
#organzie columns
column_reorder = [
    "ride_id", "rideable_type",	"started_at",	"ended_at",	"start_station_name",	"start_station_id",	"end_station_name",	"end_station_id",	"start_lat",	"start_lng",	"end_lat",	"end_lng",	"member_casual",	"start_date",	"end_date",	"ride_duration_minutes", 	"ride_duration_hours",	"ride_duration_HH:MM",	"distance_traveled_miles", "gender", "tripduration", "birth year", "bikeid"]
    
cleaned_bike_df = cleaned_bike_df[column_reorder]
cleaned_bike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_date,end_date,ride_duration_minutes,ride_duration_hours,ride_duration_HH:MM,distance_traveled_miles,gender,tripduration,birth year,bikeid
0,nan,nan,2019-06-01 00:05:55,2019-06-01 00:11:11,Warren St,3187,Newport Pkwy,3199,40.721124,-74.038051,...,2019-06-01,2019-06-01,5.27,0.09,0h 5m,0.611653,1.0,316.0,1993.0,29677.0
1,nan,nan,2019-06-01 00:08:09,2019-06-01 00:12:50,City Hall,3185,Morris Canal,3267,40.717732,-74.043845,...,2019-06-01,2019-06-01,4.68,0.08,0h 4m,0.460873,1.0,280.0,1984.0,29571.0
2,nan,nan,2019-06-01 00:13:11,2019-06-01 00:49:14,Newport Pkwy,3199,Newport Pkwy,3199,40.728745,-74.032108,...,2019-06-01,2019-06-01,36.05,0.60,0h 36m,0.000000,0.0,2162.0,1969.0,26208.0
3,nan,nan,2019-06-01 00:13:30,2019-06-01 00:49:54,Newport Pkwy,3199,Newport Pkwy,3199,40.728745,-74.032108,...,2019-06-01,2019-06-01,36.40,0.61,0h 36m,0.000000,0.0,2184.0,1969.0,29487.0
4,nan,nan,2019-06-01 00:13:31,2019-06-01 00:15:51,Oakland Ave,3207,Oakland Ave,3207,40.737604,-74.052478,...,2019-06-01,2019-06-01,2.33,0.04,0h 2m,0.000000,1.0,139.0,1994.0,29592.0

In [52]:
# #export files to csv file
# cleaned_bike_df.to_csv("cleaned_data/complete_bike.csv", index=False)

#export files to xlsx file
cleaned_bike_df.to_excel("cleaned_data/complete_bike.xlsx", index=False)

# #export files to xlsx file
# cleaned_bike_df.to_excel("cleaned_data/complete_bike_final.xlsx", index=False)